/* Vendor */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,500,600,700');

/* Colours */
:root {
  --color-clear: #fff;
  --color-inverse: #0084ff;
  --color-link: #056cc1;
  --color-text: #1b1b1b;
}

/* Base styles */
body {
  color: var(--color-text);
  font-family: 'Encode Sans Condensed', sans-serif;
}

a {
  color: var(--color-link);
}

p,
li {
  font-size: 50px;
}

/* Inverse slide styling */
.inverse {
  background-color: var(--color-inverse);
  color: var(--color-clear);
}

.inverse h1,
.inverse h2,
.inverse p,
.inverse a {
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.inverse h1 {
  font-size: 80px;
}

.inverse h2 {
  font-size: 40px;
}

.inverse a {
  color: var(--color-clear);
  text-decoration: none;
}

/* Secondary (lighten) text */
.secondary {
  opacity: 0.25;
}

/* Coloured box to highlight important content */
.highlight {
  background-color: var(--color-inverse);
  border-radius: 4px;
  color: var(--color-clear);
  font-size: 60px;
  font-weight: 700;
  padding: 10px 25px 15px;
  text-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
}

/* Full width images */
.full-width img {
  width: 100%;
}

/* Last slide with contact details */
.contact-details {
  text-align: left !important;
}

.contact-details h2 {
  font-size: 60px;
}

/* Format inline code */
.remark-inline-code {
  background-color: #f8f9f9;
  border: 1px solid #e2e4e6;
  border-radius: 2px;
  color: #eb5a46;
  padding: 1px 3px;
}
